<table class="calenar" id="cal">
    <input id="c_year" type ="text" value = '<%=year %>'/>
    <input id="m_year" type ="text" value = '<%=month %>'/>
    <thead>
        <tr>
            <td><button id="p_cal">&lt;</button></td>
            <td id="t_cal" colspan="5"><%=year %>년 <%=month %>월</td>
            <td><button id="n_cal">&gt;</button></td>
        </tr>
        <tr>
            <th class="sunday">일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
        </tr>
        <tr>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script src="js/CalendarPM.js"></script>

<script>
    function getDatafetch(dataURL) {
        fetch(dataURL, {
            method: "get"
        }).then(resp => {
            const respJson = resp.json()
            console.log("resp", resp, respJson)
            return respJson // [[PromiseValue]]를 꺼내 다음 then으로 전송
        }).then(data => {
            console.log("data", data)
        }).catch(excResp => {
            console.log(excResp)
        })
    }
    function getData(dataURL, callback) {
        // setTimeout(() => {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', dataURL, 'true');
        xhr.responseType = 'json';
        xhr.send();
        xhr.onload = function () {
            const data = xhr.response;

            callback({
                data
            });
        }
        // }, 0);
    }

    (function () {

        getData("/cal/senshig/2020-07-19", (back) => {
            console.log(back.data);
        });
        const c = new Calendar(new Date(), "cal");
        const year = document.getElementById('c_year').value;
        console.log(year);

        c.build();
        const updatehead = () => {
            const year = c.getYear();
            const month = Number(c.getMonth() + 1);
            document.getElementById("t_cal").innerHTML = year + "년" + month + "월";
        }
        document.getElementById("p_cal").onclick = function (e) {
            e.preventDefault();
            c.isFirst = false;
            c.setPrev();
            updatehead();
        }
        document.getElementById("n_cal").onclick = function (e) {
            e.preventDefault();
            c.isFirst = false;
            c.setNext();
            updatehead();
        }
    })();
</script>