
.calenar {
    background-color: #fff;
    border-radius: 18px;
    border-collapse: collapse;
    margin: 0 auto;
    /* width: 526px;
    height: 400px; */
    margin-top: 76px;
    margin-bottom: 32px;
    /* transition: 1.2s; */
    box-shadow: 5px 5px 10px 5px #d5d5d5;

}
.calenar td {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 25px;
    width: 75px;
    height: 55px;
}
.calenar .calday:hover{
    border-radius: 45px;
    background: rgba(235, 251, 143);
}
.calenar .calday{
    cursor: pointer;
}
.calenar tr:nth-child(2) td:nth-child(1),
.calenar tr:nth-child(3) td:nth-child(1),
.calenar tr:nth-child(4) td:nth-child(1),
.calenar tr:nth-child(5) td:nth-child(1),
.calenar tr:nth-child(6) td:nth-child(1),
.calenar tr:nth-child(7) td:nth-child(1),
.calenar tr:nth-child(8) td:nth-child(1){
    color:red;
}
.calenar button {
    background-color: #fff;
    width: 100%;
    height: 100%;
    font-size: 35px;
    color: #555;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    padding: 0 6px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    box-shadow: 5px 5px 10px 5px #d5d5d5;
}

.calenar button:hover {
    background-color: rgb(248, 244, 231);
}
.calenar tr:first-child {
    background-color: rgba(0,0,0,0.15);
    border-radius: 40px;
}
.calenar tr:first-child td:nth-child(2) {
    font-size: 30px;
    color: #333;
    box-shadow: 5px 5px 10px 5px #d5d5d5;
}

.cal_memo {
    background-color: #fff;
    border-radius: 18px;
    border-collapse: collapse;
    margin: 0 auto;
    left:0;
    width: 526px;
    height: 400px;
    margin-top: 76px;
    margin-bottom: 32px;
    /* transition: 1.2s; */
    box-shadow: 5px 5px 10px 5px #d5d5d5;
  
}