<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <%- include ('../layouts/header') %>
   
    <section>
        <h1>About</h1>
    
        <article>
            <h2>소개</h2>
            <p>안녕하세요</p>
        </article>
    
        <article>
            <h2>오시는길</h2>
            <%= address %>
            <%- include ('../components/map') %>
        </article>
    </section>

</body>
</html>