<!-- index -->
<h1>안녕하세요</h1>
<p>현재 개발중인 사이트입니다.</p>

<table class ="calenar" id ="cal"></table>
<script src = "js/calendar.js"></script>
<script>
    (function(){
          new Calendar(new Date(), "cal").build();  
        })();
</script>